li{
	display:inline-block;
}
@media (max-width:375px) {
	.none{
		display: none;
	}
}
@media(min-width:376px) and (max-width: 667px){
	.none{
		display: none;
	}
}

@media(min-width:667px) and (max-width: 1024px){
	
}
@media(min-width:1024px){
	
}