h3{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 40px;
}
#hd-color{
	background-color:#FA0D85;
	color:white;
	border:1px solid #635362;

}
.circle{
	border-radius: 100%;
	margin-top:20px;
	margin-bottom:20px;
	box-shadow: 2px 2px 5px #999;
	padding:10px;
}
@media(max-width: 600px){
	
	#none{
		display: none;
	}
	#center{
		text-align: center;
	}
}
@media(min-width:600px) and (max-width: 768px){
	
	#none{
		display: none;
	}
	#center{
		text-align: center;
	}
}
@media(min-width:768px) and (max-width:1200px) {
	#none{
		display: none;
	}
	#center{
		text-align: center;
	}
}
@media(min-width:1200px){
	
}